
.loginPage{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logIn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}
#textField{
    
}
